{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block content %}
    <h1 class="text-center">Je passe ma commande</h1>
<div class="container-program">
    <div class="row">
            <div class="col-md-6">
            <p class="text-center">Adresse de facturation</p>
           {% set formHtml %}
                {{form_start(form, {action:path('order_recap')})}}
                    {{ form_label(form.adresses, "Choisissez votre adresse de livraison") }}
                    <a href="{{ path('account_adress_add') }}" >Ajouter une nouvelle adresse</a>
                {{form_end(form)}}
            {% endset %}

            {{ formHtml|replace({'[br]' : '<br/>'})|raw}}
        </div>
        <div class="col-md-6 text-center">
            <p class="text-center">Récapitulatif de ma commande</p>
            {% for program in cart %}
                <div class="row">
                    <div class"col-md-8 my-auto">{{ program.program.name }}<br></div>
                    <div class"col-md-2 my-auto"><small>{{ program.program.description}}</small></div>
                    <div class"col-md-2 my-auto"> {{program.quantity}} programme</div>
                </div>
            {% endfor %}
        
        </div>
    </div>
</div>
{% endblock %}
